body {
  background: lightblue;
}

div h1 {
  background-color: lightblue;
}

#title {
  font-family: "Grand Hotel";
  font-size: 3em;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.container {
  background: lightblue;
}
.createMarket {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.createMarket span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input-form {
  display: flex;
}
* {
  box-sizing: border-box;
  /* font-family: "Grand Hotel"; */
  font-family: "Roboto", "Century Gothic", sans-serif;
  margin: 0;
  padding: 0;
  color: #393939;
}

body {
  padding-top: 10px;
}

.outerBox {
  max-width: 80%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 10px 15px 39px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
}

.innerbox {
  padding: 10px;
  width: 95%;
  margin: 15px auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  background-color: #fff;
  border-radius: 10px;
  gap: 20px;
}

#totalAccounts {
  font-size: large;
}

.innerbox:hover {
  /* width: 200px; */
  box-shadow: 10px 10px 15px lightblue;
}

.displayBox {
  overflow: auto;
  padding-top: 10px;
}

.marketBox {
  padding: 5px;
  width: 200px;
  margin: 5px 5px 13px 10px;
  float: left;
  font-size: 0.8em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 10px;
}

.marketBox:hover {
  box-shadow: 10px 10px 15px lightblue;
}

#header {
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
}

#totals {
  line-height: 1.5em;
}

input {
  margin: 10px;
}

label {
  font-weight: bold;
}

button {
  padding: 3px;
  margin: 3px;
}
